.App {
  text-align: center;
}

.editor-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #f00;
}
.editor {
    position: relative;
    width: 800px;
    height: 800px;
    border: 1px solid #000;
}
.elem {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 200px;
    height: 200px;
    border: 1px solid #09c;
}
